@charset "UTF-8";
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #707070;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.temp-container {
    display: flex;
    width: 100%;
    padding: 7%;
}

.temp-container .image {
    flex:1 1;
    min-width: 140px;
}

.temp-container .image img {
    width: 100%;
}

.temp-container .description {
    flex: 3 1;
    min-width: 320px;
    margin: 1.5em 3em 1.5em 3em;
}

.temp-container .description h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.temp-container .description h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.temp-container .description p {
    color: #202020;
    line-height: 2em;
}
